/* css */
/* Par amelie leduc */
/* 17 juillet 2020 */

header {
    position: relative;
    background-image: url("../img/paysage.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a{
    text-underline: none;
    color: #5a6268;
}

a:hover{
    color: #32383e;
}

hr{
    background: #353434;
    height: 1px;
    border-style: none;
    margin: 2% 0;
}


h1{
    text-align: left;
    font-size: 3rem;
    padding-left: 5rem;
    margin-top: 15rem;
    margin-bottom: 1rem;
    color: #5a6268;
}


h2{
    text-align: center;
    margin-bottom: 15rem;
    color: #5a6268;
}

h3{
    color: #5a6268;
    margin-left: 5rem;
    margin-top: 5rem;
}

h4, h5{
    color: #5a6268;

}


h6 a:link, h6 a:visited {
    margin-bottom: 3rem;
    color: #138496;
    font-size: 1rem;
}

h6 a:hover {
    color: lightgrey;
}



.dej{
    padding-left: 5rem;
    margin-bottom: 10rem;
}

#section1{
    background-image:url("../img/dejeuner.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: auto;
}

#section2{
    background-image:url("../img/ipad.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: auto;

}

.infolettre{
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: left;
}


.pt-5{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn{
    border-color: #5a6268;
    background-color: #5a6268;
    margin-bottom: 2rem;
    margin-top: 2rem;

}


.fa, .fas{
    color: #4e555b;
}

.parallax {
    /* L’image du Parallax */
    background-image: url("../img/texture.jpg");
    /* L’hauteur du Parallax */
    min-height: 500px;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid2{
    background-color: white;
    margin-bottom: 20px;
}


.deux{
    background-image: url("../img/lampe.jpg");
}

.trois{
    background-image: url("../img/room2.jpg");
}

.quatre{
    background-image: url("../img/food.jpg");
}

.cinque{
    background-image: url("../img/band.jpg");
}

.six{
    background-image: url("../img/produit.jpg");
}

.texteblanc{
    color: white;
    font-size: 5rem;
    margin-bottom: 15rem;
}

.jumbotron{
    margin-bottom: 0;
    margin-top: 0;
}

.icon{
  padding-left: 60rem;
}

.form-control{
    border-color: #5a6268;
    color: #5a6268;
    width: 35rem;

}
.textepropos{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}