/* css.css */
/* amelie leduc */
/* 22/04/2020 */

body{
    width: 900px; /* On pourrait aussi prendre 100% de la largeur */
    margin: auto; /* pour centrer le site en largeur */
    background: url("../media/amelia.png") no-repeat center ;
}


@font-face {
    font-family: nomDeMaNouvellePolice;
    src: url(../font/Overgrow-Demo.otf);
}


h1, h2 {
    font-family: nomDeMaNouvellePolice;

    /* pour que les eux élément est le meme style, regle commune */

}

h1:hover{

    color: aqua;
}

h1{

    color : darkred;
    font-size: 50px;

}

h2{
    color : cornflowerblue;
    font-size: 2.5em;
}



/* peut utiliser px rem em et % */

img{
    width: 50%;
    width: 50%;
    border-radius: 8px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
}
img:hover{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

P{
    text-align: justify;
    border-style: solid;
    margin: 20px;
    padding: 20px;
}

a:visited{
    color: cadetblue;
}

#titrebonjour {
    color: beige;
}

#titrebonjour2{
    color: aquamarine;
}

.titreRouges{
    color:red;

}

.titreVert{

    color: green;
}

[] {} <> "" /